/* Eliminar o comentar al acabar */

header {
    background-color: rgb(35, 35, 35);
    color: white;
}

nav {
    background-color: rgb(200, 30, 123);
    color: white;
}

main {
    background-color: aliceblue;
}

footer {
    background-color: dimgray;
    color: white;
}