* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.flex {
    display: flex;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}

.flex3{
    flex: 3;
}

.flexJustify {
    align-items: center;
    justify-content: center;
}